<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>tbXfmhX6GoWl5xDN8ZFUs4izN</string>
	<key>consumer_Secret</key>
	<string>AAAAAAAAAAAAAAAAAAAAACt1RAEAAAAAx29K3mZvCzwQ6gft9qaHk6gSC1g%3DDGCcvOXvf8lHImN1t1aQa1xw2c2bymKlcZwFEv37eMHTHCH4wV</string>
</dict>
</plist>
