<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PRIVATE "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>uRco0S2Ql72ghXD6MAhFLSAgZ</string>
	<key>consumer_Secret</key>
	<string>TWIsiXjuWdUlVgfe5sKEMlaIDngwHH8aoEJvlGcRgfGToFva2Z</string>
</dict>
</plist>
